body {
    background-color: #363636;
    color: white;
}
  
#search {

}

.pagehead{
    background-color: #0078D7;
    color: white;
}

.icon{
    height: 57px;
    width: 57px;
    margin: 2px;
}

.header{
      background-color: #FF4343;
      color: white;
}
ul {
    list-style-type:none;
    font-size: 57px
}

h1 {
    color: white;
    text-align: center;
}
  
p {
    font-family: verdana;
    font-size: 20px;
}