@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
    background-color: #363636;
    color: white;
}
  
#search {
    display: block;
}
.pagehead{
    background-color: #0078D7;
    color: white;
    text-align: center;
}

.container{
    width:100%;
    float:left;
    text-align:center;
}

table.linkbox{ margin: 0 auto;}

img.icon{
    height: 57px;
    width: 57px;
    background-color: white;
    border-color: white;
    border: 1px solid;
}

.header{
      background-color: #FF4343;
      color: white;
}

ul {
    list-style-type:none;
    display: flex;
    justify-content: center;
}

li {
  margin: 4px;
  display: inline;
  text-align: center;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
    
}